body {
    background-color:#e6e6e6;
    height:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width:80%;
    margin:0 auto;
}

.text-center {
    text-align: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 15%;
    height:auto;
}